<div class="wrapper">
  <div *ngIf="profileInfo$ | async as profileInfo">
    <div class="container">
      <img class="container_img"
           [src]="API_URL + profileInfo.image">
    </div>
    <input type="file" class="file-input"
           (change)="onFileSelected($event)">
  </div>
  <form
    tuiTextfieldSize="m"
    style="width: 270px;"
    [formGroup]="profileForm"
  >
    <tui-input
      [tuiTextfieldLabelOutside]="true"
      formControlName="firstname"
      style="margin-bottom: 15px;"
    >
      Имя
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>

    <tui-input
      [tuiTextfieldLabelOutside]="true"
      formControlName="secondname"
      style="margin-bottom: 15px;"
    >
      Фамилия
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>

    <p style="color: #2E62D9; margin-top: 0;">Ссылка на телеграм</p>

    <tui-input
      [tuiTextfieldLabelOutside]="true"
      formControlName="connectLink"
    >
      Введите свой ник в telegram
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>
  </form>
</div>
<div style="margin: 0 auto; width: 22vw; min-width: 290px; padding-bottom: 20px;">
  <button
    tuiButton
    type="button"
    style="width: 22vw; min-width: 290px; margin-top: 15px;"
    (click)="edit()"
  >
    Сохранить
  </button>
</div>
