<div class="item">
  <img [src]="imgUrl"
       class="item_img"
       alt="Изображение устройства"/>
  <p style="font-weight: 700; font-size: 12px; line-height: 16px;">{{deviceName}}</p>
  <p style="line-height: 14px; font-size: 10px;">OS: {{os}}</p>
  <p style="line-height: 14px; font-size: 10px;">Диагональ: {{diagonal}}</p>
  <p style="line-height: 14px; font-size: 10px;">Отдел: {{department}}</p>
  <button
    tuiButton
    type="button"
    class="button"
    style="height: 32px; font-size: 10px; width: 80%;"
    (click)="showDeviceCard()"
    >
    <tui-svg
      src="tuiIconCheckCircle"
    ></tui-svg>
    Забронировать
  </button>
</div>
