.item{
  width: 100%;
  padding-bottom: 15px;
  font-size: 10px;
  color: #434854;
  text-align: center;
  border-radius: 20px;
  background: #FFFFFF;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.12));
}

.item_img{
  width: 100%;
  height: 110px;
  margin-top: 15px;
  object-fit: contain;
  padding: 0 10px;
  box-sizing: border-box;
}

.button{
  font-size: 10px;
  height: 32px;
  width: 80%;
}

.showBooking{
  cursor: pointer;
}
