<div class="item">
  <div class="showBooking" (click)="showDeviceCard()">
    <img [src]="API_URL + imgUrl"
         class="item_img"
         />
    <p style="font-weight: 700; font-size: 12px; line-height: 13px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; padding: 0 5px">{{deviceName}}</p>
    <p style="line-height: 11px; font-size: 10px;">OS: {{os}}</p>
    <p style="line-height: 11px; font-size: 10px;">Диагональ: {{diagonal}}</p>
    <p style="line-height: 11px; font-size: 10px;">Отдел: {{department}}</p>
  </div>
  <button
    tuiButton
    type="button"
    class="button"
    (click)="showBookingCard()"
  >
    <tui-svg
      src="tuiIconCheckCircle"
    ></tui-svg>
    Забронировать
  </button>
</div>
