<div class="container">
  <div class="wrapper">
    <div class="btn_group_moving">
      <button
        tuiIconButton
        type="button"
        class="btn_back"
        icon="tuiIconArrowLeftLarge"
        appearance="flat"
        size="m"
        (click)="goBack()"
      >
      </button>
      <div
        class="btn btn_sideLeft"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        (click)="getEvents('previous')"
      >
        Previous
      </div>
      <div
        class="btn btn_central"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (click)="getEvents('today')"
      >
        Today
      </div>
      <div
        class="btn btn_sideRight"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        (click)="getEvents('next')"
      >
        Next
      </div>
    </div>
    <div class="current_date">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}</h3>
    </div>
    <div class="btn_group_view">
      <div
        class="btn btn_sideLeft"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn_sideRight"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>

  <div *ngIf="events$ | async as events; else loading">
    <div [ngSwitch]="view" class="calendar">
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [weekStartsOn]="weekStartsOn"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-day-view>
    </div>
  </div>

  <ng-template #loading>
    <div>
      Loading events...
    </div>
  </ng-template>
</div>
