.filter{
  //max-width: 290px;
  //min-width: 196px;
  //width: 25vw;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-sizing: border-box;
  top: 120px;
  position: sticky;
  position: -webkit-sticky;
}

.island{
  margin-bottom: 15px;
}

.link {
  color: #526ED3;
  padding: 12px;
  border: 1px solid #526ED3;
  border-radius: 12px;
  text-decoration: none;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}
