.wrapper{

  min-width: 210px;
  max-width: 357px;
  max-height: 550px;
  height: 550px;
  overflow: auto;
  border-radius: 22px;
  background-color: #fff;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  padding: 35px 0;
}

.container {
  height: 550px;
  padding: 0 30px;
  min-width: 210px;
  max-width: 277px;
}

p {
  overflow: hidden;
}
p:after {  content:'....................................................................................................';
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
p span:first-of-type {
  float:left;
}
p span:last-of-type {
  float:right;
}

@media (max-width: 480px) {
  .wrapper {
    box-shadow: none;
  }
}
