<div class="wrapper">
  <div class="filter">
    <app-filter></app-filter>
  </div>
  <div class="devices" *ngIf="bookedDevices$ | async as bookedDevices">
    <app-booked-device
      class="device"
      *ngFor="let bookedDevice of bookedDevices | filterBooked:searchKey:'device':'name'"
      [idRecord]="bookedDevice.id"
      [imgUrl]="bookedDevice.device.imgPath"
      [deviceName]="bookedDevice.device.name"
      [timeFrom]="bookedDevice.timeFrom"
      [timeTo]="bookedDevice.timeTo"
      [date]="bookedDevice.date"
    ></app-booked-device>
  </div>
</div>
