<div class="wrapper">
    <div class="filter">
      <app-filter></app-filter>
    </div>
    <div
      class="devices"
      *ngIf="devices$ | async as devices"
    >
      <app-device
        class="device"
        *ngFor="let device of devices | filter:searchKey:'name'"
        [imgUrl]="device.image"
        [deviceName]="device.name"
        [os]="device.os"
        [diagonal]="device.diagonal"
        [department]="device.department.name"
        [id]="device.id"
      ></app-device>
    </div>
</div>
