<div class="card">
  <div class="wrapper" *ngIf="device$ | async as device">
    <div class="container_img">
      <img class="img"
           [src]="API_URL + device.image">
    </div>

    <tui-input-tag
      tuiTextfieldSize="m"
      [uniqueTags]="true"
      [(ngModel)]="tags"
      [tuiTextfieldLabelOutside]="true"
      [formControl]="control"
      class="tags"
    >
    </tui-input-tag>

    <div class="container_spec">
      <div>
        <p class="name">{{device.name}}</p>
      </div>
      <div>
        <p>OS: {{device.os}}</p>
        <p>Диагональ: {{device.diagonal}}</p>
        <p>Отдел: {{device.department.name}}</p>
        <p>Разрешение: {{device.resolution}}</p>
        <p>Тип: {{device.type}}</p>
      </div>
    </div>

    <div class="buttons">
      <button
        tuiButton
        type="button"
        class="button"
        appearance="blue_outline"
        size="m"
        style="font-size: 15px; width: 100%; margin-bottom: 15px;"
        (click)="showUsageHistory(usageHistory)"
      >
        История использований
      </button>

      <button
        tuiButton
        type="button"
        class="button"
        size="m"
        style="font-size: 15px; width: 100%;"
        (click)="showBookingCard()"
      >
        <tui-svg
          src="tuiIconCheckCircle"
        ></tui-svg>
        Забронировать
      </button>
    </div>
  </div>
</div>

<ng-template #usageHistory let-observer>
  <div class="usageH_wrapper">
    <h3 style="text-align: center; font-size: 15px; margin: 0; line-height: 20px;">История использования</h3>
    <div class="usageHistory">
      <tui-scrollbar>
      <div style="height: 468px" *ngIf="usageHistory$ | async as items">

        <div *ngFor="let item of items">
          <h3 style="font-size: 12px; width: 280px">{{item.date}}</h3>
          <p
            style="font-size: 12px; width: 280px"
            *ngFor="let record of item.records"
          ><span>{{record.userName}}</span><span>{{record.timeFrom}}-{{record.timeTo}}</span></p>
        </div>

      </div>
      </tui-scrollbar>
    </div>
    <div class="btn_wrapper">
      <button
        tuiButton
        type="button"
        size="m"
        class="btn_usageH"
        appearance="red_outline"
        (click)="observer.complete()"
      >
        Назад
      </button>
    </div>
  </div>
</ng-template>
