.wrapper{
  width: 880px;
  height: 510px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.characteristics{
  width: 270px;
  height: 100%;
  overflow-y: auto;
}

.container{
  padding: 15px;
  border: 1px solid rgba(46, 98, 217, 0.32);
  height: 240px;
  width: 240px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.container_spec{
  padding: 15px 10px;
  border: 1px solid rgba(46, 98, 217, 0.32);
  width: 250px;
  border-radius: 20px;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.container_img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.usageHistory{
  width: 300px;
  max-height: 510px;
  overflow-y: auto;
}

.characteristics p, h3{
  line-height: 16px;
  font-size: 12px;
}

.characteristics p, .usageHistory p {
  overflow: hidden;
}
.characteristics p:after, .usageHistory p:after {
  content:'..................................................';
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
.characteristics p span:first-of-type, .usageHistory p span:first-of-type {
  float:left;
}
.characteristics p span:last-of-type, .usageHistory p span:last-of-type {
  float:right;
}
