<div class="wrapper">
  <div style="width: 270px;">
    <div *ngIf="device$ | async as device">
      <div class="container">
        <img class="container_img"
             [src]="device.image">
      </div>
      <div class="container_spec">
        <p
          style="text-align: center; font-size: 15px; font-weight: 700; margin: 0; line-height: 20px;">{{device.name}}</p>
        <p style="text-align: center; font-size: 12px; line-height: 13px;">OS: {{device.os}}</p>
        <p style="text-align: center; font-size: 12px; line-height: 13px;">Диагональ: {{device.diagonal}}</p>
        <p style="text-align: center; font-size: 12px; line-height: 13px; margin-bottom: 0;">
          Отдел: {{device.department.name}}</p>
      </div>
    </div>
    <tui-input-tag
      tuiTextfieldSize="m"
      [uniqueTags]="true"
      [(ngModel)]="valueTag"
      [tuiTextfieldLabelOutside]="true"
      [formControl]="control"
      style="width: 270px;"
    >
    </tui-input-tag>
  </div>
  <tui-scrollbar>
    <div class="characteristics">
      <div style="width: 260px;">
        <h2 style="text-align: center; font-size: 15px; margin: 0; line-height: 20px;">Характеристики</h2>
        <h3>Экран</h3>
        <p><span>Диагональ экрана (дюйм)</span><span>6.67"</span></p>
        <p><span>Разрешение экрана</span><span>2400x1080</span></p>
        <p><span>Плотность пикселей</span><span>395 ppi</span></p>
        <p><span>Технология изготовления экрана</span><span>IPS</span></p>
        <p><span>Соотношение сторон</span><span>20:9</span></p>

        <h3>Система</h3>
        <p><span>Версия ОС</span><span>Android 11</span></p>
        <p><span>Поддержка Google Mobile Services</span><span>есть</span></p>
        <p><span>Производитель процессора</span><span>Qualcomm</span></p>
        <p><span>Модель процессора</span><span>Snapdragon 860</span></p>
        <p><span>Количество ядер</span><span>8</span></p>
        <p><span>Частота работы процессора</span><span>2.96 ГГц</span></p>
        <p><span>Конфигурация процессора</span>
          <span>3x Kryo 485 (Cortex-A76) 2.42 ГГц, 4x Kryo 485 (Cortex-A55) 1.8 ГГц, 1x Kryo 485 (Cortex-A76) 2.96 ГГц</span>
        </p>
        <p><span>Техпроцесс</span><span>7 нм</span></p>
        <p><span>Графический ускоритель</span><span>Adreno 640</span></p>
      </div>
    </div>
  </tui-scrollbar>

  <div style="width: 270px; display: flex; flex-direction: column; justify-content: space-between;">
    <tui-calendar
      [value]="valueCalendar"
      (dayClick)="onDayClick($event)"
    ></tui-calendar>
    <div style="">
      <button
        tuiButton
        type="button"
        class="button"
        appearance="blue_outline"
        size="m"
        style="font-size: 15px; width: 270px; margin-bottom: 15px;"
        (click)="showUsageHistory(usageHistory)"
      >
        История использований
      </button>

      <button
        tuiButton
        type="button"
        class="button"
        size="m"
        style="font-size: 15px; width: 270px;"
        (click)="showBookingCard()"
      >
        <tui-svg
          src="tuiIconCheckCircle"
        ></tui-svg>
        Забронировать
      </button>
    </div>
  </div>
</div>

<ng-template #usageHistory>
  <div class="usageHistory">
    <h3 style="text-align: center; font-size: 15px; margin: 0; line-height: 20px;">История использования</h3>
    <div *ngIf="usageHistory$ | async as items">
      <div *ngFor="let item of items">
        <h3 style="font-size: 12px;">{{item.date}}</h3>
        <p
          style="font-size: 12px;"
          *ngFor="let record of item.records"
        ><span>{{record.userName}}</span><span>{{record.timeFrom}}-{{record.timeTo}}</span></p>
      </div>
    </div>
    <div>
      <button
        tuiButton
        type="button"
        class="button"
        size="m"
        style="font-size: 15px; width: 270px; justify-content: center; align-self: center;"
        appearance="red_outline"
      >
        Назад
      </button>
    </div>
  </div>
</ng-template>
