<div class="card">
  <div class="wrapper" *ngIf="device$ | async as device">
    <div class="container_img">
      <img class="img"
           [src]="API_URL + device.image">
    </div>
    <tui-input-tag
      tuiTextfieldSize="m"
      [uniqueTags]="true"
      [(ngModel)]="valueTag"
      [tuiTextfieldLabelOutside]="true"
      [formControl]="control"
      class="tags"
    >
    </tui-input-tag>

    <div class="container_spec">
      <div>
        <p class="name">{{device.name}}</p>
      </div>
      <div>
        <p>OS: {{device.os}}</p>
        <p>Диагональ: {{device.diagonal}}</p>
        <p>Отдел: {{device.department.name}}</p>
        <p>Разрешение: </p>
        <p>Тип:</p>
      </div>
    </div>

    <div class="buttons">
      <button
        tuiButton
        type="button"
        class="button"
        appearance="blue_outline"
        size="m"
        style="font-size: 15px; width: 100%; margin-bottom: 15px;"
        (click)="showUsageHistory(usageHistory)"
      >
        История использований
      </button>

      <button
        tuiButton
        type="button"
        class="button"
        size="m"
        style="font-size: 15px; width: 100%;"
        (click)="showBookingCard()"
      >
        <tui-svg
          src="tuiIconCheckCircle"
        ></tui-svg>
        Забронировать
      </button>
    </div>
  </div>
</div>

<ng-template #usageHistory>
  <div class="usageHistory">
    <h3 style="text-align: center; font-size: 15px; margin: 0; line-height: 20px;">История использования</h3>
    <div *ngIf="usageHistory$ | async as items">
      <div *ngFor="let item of items">
        <h3 style="font-size: 12px;">{{item.date}}</h3>
        <p
          style="font-size: 12px;"
          *ngFor="let record of item.records"
        ><span>{{record.userName}}</span><span>{{record.timeFrom}}-{{record.timeTo}}</span></p>
      </div>
    </div>
    <div>
      <button
        tuiButton
        type="button"
        class="button"
        size="m"
        style="font-size: 15px; width: 270px; justify-content: center; align-self: center;"
        appearance="red_outline"
      >
        Назад
      </button>
    </div>
  </div>
</ng-template>
