<div class="wrapper">
  <p style="color: #2E62D9; font-size: 15px; margin-bottom: 15px; margin-top: 0; font-weight: 800; text-align: center">Опишите проблему</p>
  <div class="container1">
    <div class="reason">
      <form
        style="width: 100%;"
        [formGroup]="reportForm"
      >
        <div>
          <tui-text-area
            style="width: 100%; height: 60px;"
            formControlName="reason"
          >
            Причина
          </tui-text-area>
        </div>
      </form>
    </div>
    <div class="textForm">
      <form
        style="width: 100%;"
        [formGroup]="reportForm"
      >
        <div>
          <tui-text-area
            style="width: 100%; height: 190px;"
            formControlName="description"
          >
            Описание
          </tui-text-area>
        </div>
      </form>
    </div>

    <div class="file">
      <app-input-files></app-input-files>
    </div>
    <div class="btn_group">
      <div class="btn_wrapper">
        <button
          tuiButton
          type="button"
          class="button"
          appearance="green_outline"
          size="m"
          style="font-size: 15px; width: 100%;"
          (click)="postReport()"
        >
          Отправить
        </button>
        <button
          tuiButton
          type="button"
          class="button"
          appearance="red_outline"
          size="m"
          style="font-size: 15px; width: 100%;"
          (click)="closeDeviceProblem()"
        >
          Отмена
        </button>
      </div>
    </div>
  </div>
</div>
