<div class="wrapper">
  <div class="info">
    <app-profile-info></app-profile-info>
    <div class="btn_group">
      <button
        tuiButton
        type="button"
        class="btn_group_modal1"
        appearance="blue_outline"
        (click)="showBookingHistory()"
      >
        История бронирования
      </button>
      <button
        tuiButton
        type="button"
        class="btn_group_modal2"
        appearance="blue_outline"
        (click)="showDeviceProblem()"
      >
        Проблема
      </button>
    </div>
  </div>
  <div class="history">
    <app-booking-history></app-booking-history>
  </div>
  <div class="problem">
    <app-device-problem></app-device-problem>
    <div class="btn_group">
      <button
        tuiButton
        type="button"
        style="width: 48%; margin-right: 4%;"
        appearance="blue_outline"
        routerLink="/profile/edit"
      >
        Редактировать
      </button>
      <button
        tuiButton
        type="button"
        style="width: 48%;"
        appearance="red_outline"
        (click)="logout()"
      >
        Выйти
      </button>
    </div>
  </div>

  <div class="btn_group_hidden">
    <button
      tuiButton
      type="button"
      style="width: 48%; margin-right: 4%;"
      appearance="blue_outline"
      routerLink="/profile/edit"
    >
      Редактировать
    </button>
    <button
      tuiButton
      type="button"
      style="width: 48%;"
      appearance="red_outline"
      (click)="logout()"
    >
      Выйти
    </button>
  </div>
</div>


