.nav {
  width: 100%;
  height: 100px;
  background-color: white;
  top: 0;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: fixed;
  border-radius: 0 0 25px 25px;
}

.wrapper {
  max-width: 1060px;
  min-width: 880px;
  height: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.button_filter {
  display: none;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
}

.link {
  font-size: 15px;
  color: rgba(46, 98, 217, 0.4);
  border: 2px solid rgba(46, 98, 217, 0.4);
  border-radius: 16px;
  display: block;
  text-decoration: none;
}

.icon {
  padding: 13px;
}

.active {
  color: #2E62D9;
  border: 2px solid #2E62D9;
}

.logoAndText {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 5px;
}

.logo {
  width: 70px;
  height: 70px;
}

.search{
  display: none;
  width: 210px;
  min-width: 100px;
  margin-right: 15px;
  margin-left: 15px;
}

.search_small {
  display: none;
}

.sidebar_btn {
  display: none;
}

.sidebar {
  padding-top: 25px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1092px) {
  .wrapper {
    max-width: 830px;
    min-width: 747px;
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .nav {
    height: 80px;
  }

  .wrapper {
    max-width: 580px;
    min-width: 445px;
    padding: 0 20px;
  }

  .links {
    column-gap: 30px;
  }

  .logoAndText {
    display: none;
  }

  .search {
    display: block;
  }

  .icon {
    padding: 10px;
  }

  .button_filter {
    display: block;
    border: 2px solid #2E62D9;
    border-radius: 16px;
  }
}

@media (max-width: 480px) {
  .wrapper{
    max-width: 380px;
    min-width: 260px;
    padding: 0 10px;
  }

  .nav {
    height: 68px;
  }

  .links {
    display: none;
  }

  .link {
    border: none;
  }

  .sidebar_btn {
    display: block;
  }

  .search {
    margin: 0;
  }

  .search_small{
    display: block;
  }

  .search_big{
    display: none;
  }

  .button_filter {
    border: none;
  }
}
