<div class="wrapper">
  <div *ngIf="profileInfo$ | async as profileInfo">
    <div class="container">
      <img class="container_img"
           src="https://www.meme-arsenal.com/memes/8e750b5ffb6a6d58cdb01341726ab3af.jpg">
    </div>
    <div class="container_id">
      <p style=" color: #2E62D9;">ID</p>
      <p>{{profileInfo.id}}</p>
    </div>
    <p style="line-height: 18px; font-size: 18px; color: #434854; margin: 20px 0;">{{profileInfo.firstname}}</p>
    <p style="line-height: 18px; font-size: 18px; color: #434854; margin: 20px 0;">{{profileInfo.secondname}}</p>

    <p style="color: #2E62D9; margin-top: 0;">Ссылка на телеграм</p>
    <p style="line-height: 18px; font-size: 18px; color: #434854; margin: 0;">@{{profileInfo.connectLink}}</p>
  </div>
</div>
