<div class="wrapper">
  <div *ngIf="profileInfo$ | async as profileInfo">
    <div class="container">
      <img class="container_img"
           [src]="API_URL + profileInfo.image">
    </div>
    <div class="container_id">
      <p style=" color: #2E62D9; margin-right: 15px; font-size: 15px;">ID</p>
      <p style="font-size: 15px;">{{profileInfo.id}}</p>
    </div>
    <p style="line-height: 18px; font-size: 18px; color: #434854; margin: 20px 0;">{{profileInfo.firstname}}</p>
    <p style="line-height: 18px; font-size: 18px; color: #434854; margin: 20px 0;">{{profileInfo.secondname}}</p>

    <p style="color: #2E62D9; margin-top: 0;">Ссылка на телеграм</p>
    <p style="line-height: 18px; font-size: 18px; color: #434854; margin: 0;">@{{profileInfo.connectLink}}</p>
  </div>
</div>
